{
    "presets": [
            [
                "es2015",
                {
                    "modules": false  
                }
            ]
        
    ],
    "plugins": ["transform-vue-jsx","transform-runtime","transform-class-properties","transform-object-rest-spread"] //不能解析es6语法关键解决
}
