.msg-detail-section {
    .content {
        height: 100%;
        
.equipList-search-section {
    height: 100%;
    margin: 10px;

  
    .equipList-search-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        // margin-left: 10px;
  
        h5 {
            font-size: 18px;;
            color: #fff;
            position: relative;
            padding-left: 15px;
  
            &:before {
                content: '';
                display: block;
                width: 6px;
                height: 22px;
                border-radius: 3px;
                background-color: #00ffff;
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -11px;
            }
        }
  
        .equipList-close-btn {
            display: block;
            width: 28px;
            height: 28px;
            cursor: pointer;
        }
    }
  
    .line {
        height: 1px;
        background-color: #002d55;
    }
  
    .banbenhao-show-list {
        height: calc(100% - 50px);
        ul li {
            padding-top: 15px;
            line-height: 22px;
            color: #fff;
            font-size: 13px;
            width: 100%;
            word-wrap: break-word;

        }
    }
  
  }
  
    }
}